<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <input type="checkbox" id="task" name="task" task.completed>
    <%= link_to task.title, task_path(task) %> -
    <%= link_to '🗑', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<%= link_to "+ Add a new task", new_task_path %>
